@layer base {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    :root {


    --Moderateblue: hsl(238, 40%, 52%);
    --SoftRed: hsl(358, 79%, 66%);
    --Lightgrayishblue: hsl(239, 57%, 85%);
    --Palered: hsl(357, 100%, 86%);



    --Darkblue: hsl(212, 24%, 26%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --Lightgray: hsl(223, 19%, 93%);
    --Verylightgray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);

    --base-size: 1rem;
    --h1-size: 1.3rem;
    --font-style: 'Rubik', sans-serif;
    }

    body {
        margin:  0;
        padding: 0;
        font-family: var(--font-style);
        font-size: var(--base-size);
        background-color: var(--Verylightgray);
        width: 100%;
        height: 100vh;
        overflow: auto;
    }
}

@layer main-section-styling {
    #comment {
        border: 1px solid var(--White);
        background-color: var(--White);
        border-radius: 12px;
        outline: none;
        padding: 1rem 1rem 1rem 1rem;
        max-width: 100%;
        width: 100%;
        margin: 1rem 0 1rem 0;
       display: flex;
       list-style-type: none;
    }

    .upvote-downvote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-right: 2rem;
    }

    .inner-detail-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-reply {
        margin-left: auto;
    }

    #Interactive-comments-section {
        display: flex;
        justify-content: center;
        max-width: 100%;
        align-items: center;
        background-color: var(--Lightgray);
        border: 1px solid var(--Lightgrayishblue);
        overflow: inherit;
        
    }

    .comment-detail-container {
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }

    .heading {
        margin-left: 0.4rem;
        font-size: var(--h1-size);
    }
    .time {
        margin-left: 0.8rem;
    }

    #unorder-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 60%;
    
    
    }

   
    
}

 @layer user-section-styling { 

    .add-section {
        display: flex;
        padding: 1rem 1rem 1rem 1rem;
        border: 1px solid var(--White);
        background-color: var(--White);
        margin-bottom: 2rem;
        border-radius: 12px;
        align-items: center;
    }

    

    .text {
       
        background-color: transparent;
        border: 1px solid var(--GrayishBlue);
        outline: none;
        width: 150%;
        height: auto;
        margin-left: 1rem;
        font-size: var(--base-size);
        padding: 2rem;
        border-radius: 5px;
        grid-column: 2/3;
        
    }

   
    .add-button {
        background-color: var(--Moderateblue);
        color: var(--White);
        border: none;
        outline: none;
        border-radius: 7px;
        padding: 0.8rem 1rem 0.8rem 1rem;
        margin-left: auto;
        font-size: var(--base-size);
        font-family: var(--font-style);
        
    }

   .button-reply {
     color: var(--Moderateblue);
   }


   


}
    

   